<%- include('./common/header') %>

    <link rel = 'stylesheet' type = 'text/css' href = '../attendance/static/public/login.css'/>
  </head>
  <body>
    <div id="wrapper">
      <div class="center">
        <div class="logo">
          <img src= "../attendance/static/public/images/hambuger_shop.png %>">
        </div>
        <div class="loginBorder">
          <div class="center">
            <h3>ログイン</h3>
            <form id="login">
              <label for="code" class="block">社員コード</label>
              <input id="code" type="text" name="code" class="inputArea">
              パスワード<br />
              <input type="password" name="pass" class="inputArea">
              <input type="button" class="submit" value="ログイン">
            </form>
          </div>
        </div>
        <div>
          <div>
            ------アカウントをお持ちでない方はこちら------
          </div>
          <div>
            <button type="button" onclick="location.href='/newAccount'">アカウント作成</button>
          </div>
        </div>
      </div>
    </div>
    <%- include('./common/scripts') %>
    <script type="text/javascript" src = '../attendance/static/protected/login.js'></script>
  </body>
</html>