<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>勤怠管理</title>
    <link rel = 'stylesheet' type = 'text/css' href = '../attendance/static/public/login.css' />
  </head>
  <body>
    <div id="wrapper">
      <div class="center">
        <div class="logo">
          <img src= "../attendance/static/public/images/hambuger_shop.png %>">
        </div>
      </div>
    </div>
    <%- include('./scripts') %>
    <script type="text/javascript" src = '../attendance/static/protected/common/logonErr.js'></script>
  </body>
</html>