<div id="side">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <!-- <div class="logo">
          <img src= "../../static/public/images/megane_hikaru_woman.png %>">
        </div>       -->
      </div>
    </div>
  </nav>

  <div class="sample01">
    <ul>
      <li>
        <div>社員情報</div>
        <ul class="staffMenu">
          <li>
            <a class="navbar-brand" href="../staff/list">スタッフ一覧画面</a>
          </li>
          <li>
            <a class="navbar-brand" href="../staff/add">スタッフ登録画面</a>
          </li>
        </ul>
      </li>
      <li>
        <div>勤怠入力</div>
        <ul class="syouhinMenu">
          <li>
            <a class="navbar-brand" href="../product/list">商品一覧画面</a>
          </li>
          <li>
            <a class="navbar-brand" href="../product/add">商品登録画面</a>
          </li>
        </ul>
      </li>
      <li>
        <div>勤怠ログ</div>
        <ul class="DL">
          <li>
            <a class="navbar-brand" href="../order/order_download">注文ダウンロード</a>
          </li>
        </ul>
      </li>
      <!-- 権限ある人だけ表示の制御を追加予定 -->
      <li>
        <div>全社員確認</div>
        <ul class="DL">
          <li>
            <a class="navbar-brand" href="../order/order_download">全社員情報確認</a>
          </li>
          <li>
            <a class="navbar-brand" href="../order/order_download">全社員勤怠ログ</a>
          </li>
        </ul>
      </li>
      <!-- ここまで -->
      <li>
        <a class="navbar-brand" href="../logout">ログアウト</a>
      </li>
    </ul>
  </div>
</div>